* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  height: 150px;
  background-color: aliceblue;
  color: rgb(84, 15, 15);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
ul {
  display: flex;
  gap: 25px;
}

section {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 30px auto;
  padding: 15px;
}

img {
  height: 350px;
  width: 300px;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 47%;
}

button {
  width: 80px;
  height: 20px;
  background-color: burlywood;
}

.service {
  height: 400px;
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.service-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  height: 45%;
}
.box-1,
.box-2,
.box-3 {
  background-color: rgb(221, 232, 238);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px;
  box-shadow: 10px 10px 15px black;
}

.portfolio {
  height: 400px;
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-top: 50px;
}

.image {
  display: flex;
  gap: 12px;
  margin: 30px auto;
  padding: 20px;
}
img {
  border: 1px solid white;
  border-radius: 5px;
  height: 320px;
  width: 270px;
}

.contact {
  height: 450px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 75px;
  margin: 40px auto;
}
.contact-head {
  text-align: center;
}
.contact-icon{
    display: flex;
    gap: 15px;
    
}
.custom-icon {
    color: green;
    font-size: 20px;
}

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input,
form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #292727;
  border-radius: 4px;
}

form button {
  background-color: burlywood;
  border-radius: 4px;
  width: 35%;
  height: 40%;
  padding: 8px;
}

.cinfo {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.end{
    height: 40px;
    width: 97%;
    background-color: aliceblue;
}